---
import qr1 from "../assets/qr1.png";
import qr2 from "../assets/qr2.png";
import {SECTIONS} from "../constantes/constParteBlanca.js"
import {CERTIFICACIONES} from "../constantes/constParteBlanca.js"
---
<div class="m-0 p-0 box-border font-sans ml-[25px] mr-[10px] max-w-[705px] bg-white">
    <h2 class="font-normal">{SECTIONS.s3}</h2>
    
    <hr class="mb-[20px] h-[5px] bg-[#2B78B4] border-none">

    <div class="flex justify-between items-start">
        <div class="flex flex-col ml-[10px] text-[#2B78B4] font-semibold">
            <p>{CERTIFICACIONES.c1}</p>
            <p class="ml-[35px] mb-[5px] font-normal italic text-black">{CERTIFICACIONES.comun}</p>
        </div>
        <img src={qr1.src} alt="QR Certificación Curso" class="w-16 h-16"> </div>

    <div class="h-4"></div> <div class="flex justify-between items-start">
        <div class="flex flex-col ml-[10px] text-[#2B78B4] font-semibold">
            <p>{CERTIFICACIONES.c2}</p>
            <p class="ml-[35px] mb-[5px] font-normal italic text-black">{CERTIFICACIONES.comun}</p>
        </div>
        <img src={qr2.src} alt="QR Certificación Curso" class="w-16 h-16">
    </div>
</div>