---
import { SECTIONS } from "../constantes/constParteBlanca.js"
import { FECHAS } from "../constantes/constParteBlanca.js"
import { DESCRIPCIONES } from "../constantes/constParteBlanca.js"
import { TRABAJOS } from "../constantes/constParteBlanca.js"
import { TAREAS } from "../constantes/constParteBlanca.js"
---
<div class="m-0 p-0 box-border font-sans ml-[25px] mr-[10px] max-w-[705px] bg-white">
    
    <h2 class="font-normal">{SECTIONS.s1}</h2>
    
    <hr class="mb-[20px] h-[5px] bg-[#2B78B4] border-none">

    <div class="flex ml-[10px] justify-between text-[#2B78B4] font-normal">
        <p>{FECHAS.f1}</p>
        <p>{TRABAJOS.tr1}</p>
    </div>
    <div>
        <p>{DESCRIPCIONES.d1}</p>
        <ul class="list-['-'] mb-[10px]">
            <li class="pl-[30px] text-justify">{TAREAS.t1}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t2}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t3}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t4}</li>
        </ul>
    </div>

    <div class="flex ml-[10px] justify-between text-[#2B78B4] font-normal">
        <p>{FECHAS.f2}</p>
        <p>{TRABAJOS.tr2}</p>
    </div>
    <div class="texto-descriptivo">
        <p>{DESCRIPCIONES.d2}</p>
        <ul class="list-['-'] mb-[10px]">
            <li class="pl-[30px] text-justify">{TAREAS.t5}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t6}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t7}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t8}</li>
        </ul>
    </div>

    <div class="flex ml-[10px] justify-between text-[#2B78B4] font-normal">
        <p>{FECHAS.f3}</p>
        <p>{TRABAJOS.tr3}</p>
    </div>
    <div class="texto-descriptivo">
        <p>{DESCRIPCIONES.d3}</p>
        <ul class="list-['-'] mb-[10px]">
            <li class="pl-[30px] text-justify">{TAREAS.t9}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t10}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t11}</li>
            <li class="pl-[30px] text-justify">{TAREAS.t12}</li>
        </ul>
    </div>
</div>