---
import { SECTIONS } from "../constantes/constParteBlanca.js"
import { FECHAS } from "../constantes/constParteBlanca.js"
import { DESCRIPCIONES } from "../constantes/constParteBlanca.js"
import { TRABAJOS } from "../constantes/constParteBlanca.js"
import { TAREAS } from "../constantes/constParteBlanca.js"
---
<div>
    <h2>{SECTIONS.s1}</h2>
    <hr>
    <div class="fechas">
        <p>{FECHAS.f1}</p>
        <p>{TRABAJOS.tr1}</p>
    </div>
    <div>
        <p>{DESCRIPCIONES.d1}</p>
        <ul>
            <li>{TAREAS.t1}</li>
            <li>{TAREAS.t2}</li>
            <li>{TAREAS.t3}</li>
            <li>{TAREAS.t4}</li>
        </ul>
    </div>
    <div class="fechas">
        <p>{FECHAS.f2}</p>
        <p>{TRABAJOS.tr2}</p>
    </div>
    <div class="texto-descriptivo">
        <p>{DESCRIPCIONES.d2}</p>
        <ul>
            <li>{TAREAS.t5}</li>
            <li>{TAREAS.t6}</li>
            <li>{TAREAS.t7}</li>
            <li>{TAREAS.t8}</li>
        </ul>
    </div>
    <div class="fechas">
        <p>{FECHAS.f3}</p>
        <p>{TRABAJOS.tr3}</p>
    </div>
    <div class="texto-descriptivo">
        <p>{DESCRIPCIONES.d3}</p>
        <ul>
            <li>{TAREAS.t9}</li>
            <li>{TAREAS.t10}</li>
            <li>{TAREAS.t11}</li>
            <li>{TAREAS.t12}</li>
        </ul>
    </div>
</div>
<style>
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 25px;
        margin-right: 10px;
        max-width: 705px;
        background-color: white;
    }
    h2{
        font-weight: 400;   
    }
    hr{
        margin-bottom: 20px;
        height: 5px;
        background-color: #2B78B4;
    }
    ul{
        list-style: "-";
        margin-bottom: 10px;
    }
    li{
        padding-left: 30px;
        text-align: justify;
    }
    .fechas{
        display: flex;
        margin-left: 10px;
        justify-content: space-between;
        color: #2B78B4;
        font-weight: 400;
    }
</style>