---
import {FECHAS} from "../constantes/constParteBlanca.js"
import {ESTUDIOS} from "../constantes/constParteBlanca.js"
import {CENTROS} from "../constantes/constParteBlanca.js"
import {SECTIONS} from "../constantes/constParteBlanca.js"
---
<div  class="m-0 p-0 box-border font-sans ml-[25px] mr-[10px] max-w-[705px] bg-white mb-[10px]">
    
    <h2 class="font-normal">{SECTIONS.s2}</h2>
    
    <hr class="mb-[20px] h-[5px] bg-[#2B78B4] border-none">

    <div class="flex ml-[10px] justify-between text-[#2B78B4] font-semibold">
        <p>{FECHAS.f4}</p>
        <p>{ESTUDIOS.e1}</p>
    </div>
    <p class="italic ml-[35px] mb-[5px]">{CENTROS.ce1}</p>

    <div class="flex ml-[10px] justify-between text-[#2B78B4] font-semibold">
        <p>{FECHAS.f5}</p>
        <p>{ESTUDIOS.e2}</p>
    </div>
    <p class="italic ml-[35px] mb-[5px]">{CENTROS.ce2}</p>

    <div class="flex ml-[10px] justify-between text-[#2B78B4] font-semibold">
        <p>{FECHAS.f6}</p>    
        <p>{ESTUDIOS.e3}</p>
    </div>
    <p class="italic ml-[35px] mb-[5px]">{CENTROS.ce3}</p>

</div>