---
import {FECHAS} from "../constantes/constParteBlanca.js"
import {ESTUDIOS} from "../constantes/constParteBlanca.js"
import {CENTROS} from "../constantes/constParteBlanca.js"
import {SECTIONS} from "../constantes/constParteBlanca.js"
---
<div id="contenedor">
    <h2>{SECTIONS.s2}</h2>
    <hr>
    <div class="fechas">
        <p>{FECHAS.f4}</p>
        <p>{ESTUDIOS.e1}</p>
    </div>
    <p class="centro">{CENTROS.ce1}</p>
    <div class="fechas">
        <p>{FECHAS.f5}</p>
        <p>{ESTUDIOS.e2}</p>
    </div>
    <p class="centro">{CENTROS.ce2}</p>
    <div class="fechas">
        <p>{FECHAS.f6}</p>    
        <p>{ESTUDIOS.e3}</p>
    </div>
    <p class="centro">{CENTROS.ce3}</p>
</div>
<style>
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 25px;
        max-width: 705px;
        background-color: white;
        margin-right: 10px;
    }
    h2{
        font-weight: 400;   
    }
    hr{
        margin-bottom: 20px;
        height: 5px;
        background-color: #2B78B4;
    }
    .fechas{
        display: flex;
        margin-left: 10px;
        justify-content: space-between;
        color: #2B78B4;
        font-weight: 600
    }
    .centro{
        font-style: italic;
        margin-left: 35px;
        margin-bottom: 5px;
    }
    #contenedor{
        margin-bottom: 10px;
    }
</style>